PORT=4000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=cambia-este-secreto

MYSQL_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
MYSQL_PORT=4000
MYSQL_USER=2ns8kFzmWqXNaRs.root
MYSQL_PASSWORD=REEMPLAZA_CON_TU_PASSWORD
MYSQL_DATABASE=landing

MYSQL_SSL_ENABLED=true
MYSQL_SSL_CA_PATH=./certs/tidb-ca.pem
MYSQL_SSL_REJECT_UNAUTHORIZED=true
